<a href="https://colab.research.google.com/github/park128/R_lecture/blob/main/day0702.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
title: "Python 기초문법"
date: '2022-07-02'
---

# 숫자형

## 숫자형이란?
- 숫자형(Number)이란 숫자 형태로 이루어진 자료형으로, 우리가 이미 잘 알고 있는 것이다. 우리가 흔히 사용하는 것을 생각해 보자. 123 같은 정수, 12.34 같은 실수, 드물게 사용하긴 하지만 8진수나 16진수 같은 것도 있다.

### 파이썬에서 숫자를 어떻게 사용하는지 보여 준다.
- 정수 123, -345, 0
- 실수 123.45,-1234.5, 3.4e10
- 8진수 0o34,o023
- 16진수 0x2A, 0xFF

##  숫자형은 어떻게 만들고 사용할까?

### 정수형
 - 정수형(Integer)이란 말 그대로 정수를 뜻하는 자료형을 말한다. 다음 예는 양의 정수와 음의 정수, 숫자 0을 변수 a에 대입하는 예이다.

>>> a = 123

>>> a = -178

>>> a = 0

### 실수형
- 파이썬에서 실수형(Floating-point)은 소수점이 포함된 숫자를 말한다. 다음은 실수를 변수 a에 대입하는 예이다.

>>> a = 1.2

>>> a = -3.45

- 위 방식은 우리가 일반적으로 볼 수 있는 실수형의 소수점 표현 방식이다.

>>> a = 3.24E10

>>> a = 4.24e-10

- 위 방식은 "컴퓨터식 지수 표현 방식"으로 파이썬에서는 4.24e10 또는 4.24E10처럼 표현한다.(e와 E 둘 중 어느 것을 사용해도 무방하다.)

## 8진수와 16진수
- 8진수 (Octal)를 만들기 위해서는 숫자가 0o 또는 0O(숫자 0 + 알파벳 소문자 o 또는 대문자O)로 시작하면 된다.

>>> a = 0o8ff

- 16진수(Hexadecimal)를 만들기 위해서는 0x로 시작하면 된다.

>>> a = 0x8ff

>>> b = 0xABC

- 8진수나 16진수는 파이썬에서 잘 사용하지 않는 형태의 숫자 자료형이니 간단히 눈으로 익히고 넘어가자.

## 숫자형을 활용하기 위한 연산자

### 사칙연산
- 프로그래밍을 한 번도 해본 적이 없는 사람도 사칙연산(+,-,*,/)은 알고 있을 것이다. 파이썬 역시 계산기와 마찬가지로 다음처럼 연산자를 사용해 사칙 연산을 수행한다.

In [ ]:
a = 3
b = 4
print('a + b =',a+b)

print('a - b =',a-b)

print('a * b =',a*b)

print('a / b =',a/b)

a + b = 7
a - b = -1
a * b = 12
a / b = 0.75

### x의 제곱을 나타내는 **연산자
- 다음으로 알아야 할 연산자로 **라는 연산자가 있다. 이 연산자는 x**y처럼 사용했을 때 x의 y제곱 값을 돌려준다. 다음의 예를 통해 알아보자.

In [ ]:
a = 3
b = 4
print('a ** b =',a**b)

a ** b = 81

### 나눗셈 후 나머지를 반환하는 %연산자
- 프로그래밍을 처음 접하는 사람라면 % 연산자는 본 적이 없다. %는 나눗셈의 나머지 값을 돌려주는 연산자이다. 7을 3으로 나누면 나머지는 1이 될 것이고 3을 7로 나누면 나머지는 3이 될 것이다. 다음 예로 확인해 보자.

In [ ]:
print('7 % 3 =',7%3)
print('3 % 7 =',3%7)

7 % 3 = 1
3 % 7 = 3

### 나눗셈 후 몫을 반환하는 // 연산자
- 연산자를 사용하여 7 나누기 4를 하면 그 결과는 예상대로 1.75가 된다.

In [ ]:
print('7 / 4 =',7/4)

7 / 4 = 1.75

이번에는 나눗셈 후 몫을 반환하는 // 연산자를 사용한 경우다.

In [ ]:
print('7 / 4 =',7/4)

7 / 4 = 1.75

이번에는 나눗셈 후 몫을 반화하는 // 연산자를 사용한 경우다.

In [ ]:
print('7 // 4 =',7//4)

7 // 4 = 1

- 1.75에서 몫에 해당되는 정수값 1만 돌려주는 것을 확인할 수 있다.

# 문자열

## 문자열은 어떻게 만들고 사용할까?
- 위 예에서는 문자열을 만들 때 큰따옴표("")만을 사용했지만 이 외에도 문자열을 만드는 방법은 3가지가 더 있다. 파이썬에서 문자열을 만드는 방법은 총 4가지이다.

### 1. 큰 따옴표(")로 양쪽 둘러싸기

In [ ]:
print("Hello World")

Hello World

### 2. 작은따옴표(')로 양쪽 둘러싸기

In [ ]:
print('Python is fun')

Python is fun

### 3. 큰따옴표 3개를 연속(""")으로 써서 양쪽 둘러싸기

In [ ]:
"""Life is too short, You need python"""

'Life is too short, You need python'

### 4. 작은따옴표 3개를 연속(''')으로 써서 양쪽 둘러싸기

In [ ]:
'''Life is too short, You need python'''

'Life is too short, You need python'

- 단순함이 자랑인 파이썬이 문자열을 만드는 방법은 왜 4가지나 가지게 되었을까? 그 이유에 대해 알아보자.

## 문자열 안에 작은따옴표나 큰따옴표를 포함시키고 싶을 때
- 문자열을 만들어 주는 주인공은 작은 따옴표(')와 큰 따옴표(")이다. 그런데 문자열 안에도 작은 따옴표와 큰 따옴표가 들어 있어야 할 경우가 있다. 이때는 좀 더 특별한 기술이 필요하다. 예제를 하나씩 살펴보면서 원리를 익혀 보자.

### 1.문자열에 작은 따옴표 (') 포함시키기

Python's favorite food is per1

- 이와 같은 문자열을 food 변수에 저장하고 싶다고 가정하자. 문자열 중 Python's에 작은따옴표(')가 포함되어 있다.

이럴 때는 다음과 같이 문자열을 큰 따옴표(")로 둘러싸야 한다. 큰 따옴표 안에 들어 있는 작은 따옴표는 문자열을 나타내기 위한 기호로 인식되지 않는다.

In [ ]:
food = "Python's favorite food is per1"

- 프롬프트에 food를 입력해서 결과를 확인하자. 변수에 저장된 문자열이 그대로 출려고디는 것을 볼 수 있다.

In [ ]:
food

"Python's favorite food is per1"

- 시험 삼아 다음과 같이 큰 따옴표(")가 아닌 작은 따옴표(')로 문자열을 둘러싼 후 실행을 하게 되면 'Python'이 문자열로 인식되어 아래와 같은 구문 오류(SyntaxError)가 발생할 것이다.

>>> food = 'Python's favorite food is perl'
  File "<stdin>", line 1
    food = 'Python's favorite food is perl'
                   ^
SyntaxError: invalid syntax

### 2.문자열에 큰 따옴표(")포함시키기

- "Python is very easy." he says.

위와 같이 큰따옴표(")가 포함된 문자열이라면 어떻게 해야 큰따옴표가 제대로 표현될까?

다음과 같이 문자열을 작은따옴표(')로 둘러싸면 된다.

In [ ]:
say = '"Python is very easy." he says.'

이렇게 작은따옴표(') 안에 사용된 큰따옴표(")는 문자열을 만드는 기호로 인식되지 않는다.

## 백슬래시(\)를 사용해서 작은따옴표(')와 큰 따옴표(")를 문자열에 포함시키기.

In [ ]:
food = 'Python\'s favorite food is perl'
say = "\"Python is very easy.\" he says."

- 작은 따옴표(')나 큰 따옴표(")를 문자열에 포함시키는 또 다른 방법은 백슬래시(\)를 사용하는 것이다. 즉 백슬래시(\)를 작은 따옴표(')나 큰 따옴표(")앞에 삽입하면 백슬래시(\)뒤의 작은 따옴표(')나 큰 따옴표(")는 문자열을 둘러싸는 기호의 의미가 아니라 문자('),(")그 자체를 뜻하게 된다.

- 어떤 방법을 사용해서 문자열 안에 작은 따옴표(')와 큰 따옴표(")를 포함시킬지는 각자의 선택이다.

### 여러 줄인 문자열을 변수에 대입하고 싶을 때

문자열이 항상 한 줄짜리만 있는 것은 아니다. 다음과 같이 여러 줄의 문자열을 변수에 대입하려면 어떻게 처리해야 할까?

>>>Life si too short

>>>You need python

### 1. 줄을 바꾸기 위한 이스케이프 코드 \n 삽입하기

In [ ]:
multiline = "Life is too short\nYou need python"

위 예처럼 줄바꿈 문자\n 을 삽입하는 방법이 있지만 읽기에 불편하고 줄이 길어지는 단점이 있다.

### 2. 연속된 작은 따옴표 3개(''') 또는 큰 다옴표 3개(""")사용하기
- 위 1번의 단점을 극복하기 위해 파이썬에서는 ㅏㄷ음과 같이 작은 따옴표 3개(''') 또는 큰 다옴표 3개(""")를 사용한다.

In [ ]:
multiline='''
Life is too short
You need python'''

print(multiline)

Life is too short
You need python

- 작은 따옴표 3개를 사용한 경우

In [ ]:
multiline="""
Life is too short
Yo need python
"""

print(multiline)

Life is too short
Yo need python

- 두 경우 모두 결과는 동일하다. 위 예에서도 확인할 수 있듯이 문자열이 여러 줄인 경우 이스케이프 코드를 쓰는 것보다 따옴표를 연속해서 쓰는 것이 훨씬 깔끔하다.

## 문자열 연산하기.
- 파이썬에서는 문자열을 더하거나 곱할 수 있다. 다른 언어에서는 쉽게 찾아볼 수 없는 재미있는 기능으로, 우리 생각을 그대로 반영해 주는 파이썬만의 장점이라고 할 수 있다. 문자열을 더하거나 곱하는 방법에 대해 알아보자.

### 문자열 더해서 연결하기(Concatenation)

In [ ]:
head = "Python"
tail = " si fun!"
head + tail

'Python si fun!'

- 위 소스 코드에서 세 번째 줄을 보자. 복잡하게 생각하지 말고 눈에 보이는 대로 생각해 보자.'Python is fun!'이다. 즉 head와 tail변수가 +에 의해 합쳐진 것이다.

### 문자열 곱하기

In [ ]:
a = "Python"
a * 2

'PythonPython'

- 위 소스 코드에서 *의 의미는 우리가 일반적으로 사용하는 숫자 곱하기의 의미와는 다르다. 위 소스 코드에서 a * 2 문장은 a를 두 번 반복하라는 뜻이다. 즉 *는 문자열의 반복을 뜻하는 의미로 사용 됨

### 문자열 곱하기 응용
- 문자열 곱하기를 좀 더 응용. 다음 소스를 IDLE에디터를 열고 작성해 봤다.

In [ ]:
# multistring.py

print("=" * 50)
print("My program")
print("=" * 50)

==================================================
My program
==================================================

- 입력한 소스는 C:\doit 디렉터리에 파일 이름 multistring.py로 저장
- 프로그램을 실행 [윈도우 + R(실행) > cmd입력 > Enter]를 눌러 명령 프롬프트 창을 열고 다음을 따라해보면 결괏값이 나타남

### 문자열 길이 구하기
- 문자열의 길이는 다음과 같이 len 함수를 사용하면 구할 수 있다. len 함수는 print 함수처럼 파이썬의 기본 내장 함수로 별다른 설정 없이 바로 사용할 수 있다.

In [ ]:
a = "Life is too short"
len(a)

17

## 문자열 인덱싱과 슬라이싱
- 인덱싱(indexing)이란 무엇인가를 "가리킨다"는 의미이고, 슬라이싱(Slicing)은 무엇인가를 "잘라낸다"는 의미이다. 이런 의미를 생각하면서 다음 내용을 보자.

### 문자열 인덱싱이란?

In [ ]:
a = "Life is too short, You need Python"

- 위 소스 코드에서 변수 a에 저장한 문자열의 각 문자마다 번호를 매겨 보면 다음과 같다.
- Life is too short, You need Python
0         1         2         3 
0123456789012345678901234567890123
- "Life is too short, You need Python" 문자열에서 L은 첫 번째 자리를 뜻하는 숫자 0, 바로 다음인 i는 1 이런식으로 계속 번호를 붙인 것이다. 중간에 있는 short의 s는 12가 된다.

In [ ]:
a = "Life is too short, You need Python"
a[3]

'e'

- a[3]이 뜻하는 것은 a라는 문자열의 네 번째 문자 e를 말한다. 프로그래밍을 처음 접하는 사람이라면 a[3]에서 숫자 3이 왜 네 번째 문자를 뜻하는지 의아할 수도 있다. 사실 이 부분이 헷갈릴 수 있는 부분인데, 이렇게 생각하면 쉽다.
- "파이썬은 0부터 숫자를 센다."
- 따라서 파이썬은 위 문자열을 다음과 같이 바라보고 있다.
- a[0]:'L', a[1]:'i', a[2]:'f', a[3]:'e', a[4]:' ', ...
- a[번호]는 문자열 안의 특정한 값을 뽑아내는 역할을 한다. 이러한 작업을 인덱싱이라고 한다.

### 문자열 인덱싱 활용하기
- 인덱싱 예를 몇 가지 더 보자

In [20]:
a = "Life is too short, You need Python"
print(a[0])

print(a[12])

print(a[-1])

L
s
n

- 앞의 a[0]과 a[12]는 쉽게 이해할 수 있는데 마지막의 a[-1]이 뜻하는 것은 문자열을 뒤에서부터 읽기 위해 마이너스(-) 기호를 붙이는 것.
-뒤에서부터 첫 번째 문자를 표시할 때도 0부터 세어 "a[-0]이라고 해야 하지 않을까?"라는 의문이 들었지만 0과 -0은 똑같은 것이기 때문에 같은 값을 보여준다.

In [ ]:
a[-0]

'L'

- 계속해서 몇 가지 예를 더 보자.

In [22]:
print(a[-2])

print(a[-5])

o
y

- 위 첫 번째 예는 뒤에서부터 두 번째 문자를 가리키는 것이고, 두 번째 예는 뒤에서부터 다섯 번째 문자를 가리키는 것이다.

## 문자열 슬라이싱이란?
- 그렇다면 "Life is too short, You need Python" 문자열에서 단순히 한 문자만을 뽑아내는 것이 아니라 'Life' 또는 'You' 같은 단어를 뽑아내는 방법은 없을까?
- 다음과 같이 하면 된다.

In [ ]:
a = "Life is too short, You need Python"
b = a[0] +a[1] + a[2] + a[3]
b

'Life'

- 위 방법처럼 단순하게 접근할 수도 있지만 파이썬에서는 더 좋은 방법을 제공한다. 바로 슬라이싱(Slicing) 기법이다.
- 위 예는 슬라이싱 기법으로 다음과 같이 간단하게 처리할 수 잇다.

In [2]:
a = "Life is too short, You need Python"
a [0:4]

'Life'

- a[0:4]가 뜻하는 것은 a 문자열, 즉 "Life is too short, You need Python"문장에서 자리 번호 0부터 4까지의 문자를 뽑아낸다는 뜻이다. 하지만 다음과 같은 의문이 생깃 것이ㅏ. a[0]은 L, a[1]은 i, a[2]는 f, a[3]은 e니까 a[0:3]으로도 Life라는 단어를 뽑아낼 수 있지 않을까? 다음 예로 확인해 보자.

In [3]:
a[0:3]

'Lif'

- 이렇게 되는 이유는 간단하다. 슬라이싱 기법으로 a[시작 번호:끝 번호]를 지정할 때 끝 번호에 해당하는 것은 포함하지 않기 때문이다. a[0:3]을 수식으로 나타내면 다음과 같다.
- 0 <= a < 3
- 이 수식을 만족하는 것은 a[0], a[1], a[2]이다. 따라서 a[0:3]은 'Life'가 되는 것이다. 이 부분이 문자열 연산에서 가장 혼동하기 쉬운 부분이니 장 마지막의 연습 문제를 많이 풀어 보면서 몸에 익히기 바란다.

### 문자열을 슬라이싱 하는 방법
- 슬라이싱의 예를 조금 더 보자.

In [5]:
a[0:5]

'Life '

- 위 예는 a[0] + a[1] + a[2] + a[3] + a[4]와 동일하다. a[4]는 공백 문자이기 때문에 'Life'와 Life '는 완전히 다른 문자열이다.

- 슬라이싱할 때 항상 시작 번호가 0일 필요는 없다.

In [9]:
print(a[0:2])

print(a[5:7])

print(a[12:17])

Li
is
short

- a[시작 번호:끝 번호]에서 끝 번호 부분을 생략하면 시작 번호부터 그 문자열의 끝까지 뽑아낸다.

In [10]:
a[19:]

'You need Python'

- a[시작 번호:끝 번호]에서 시작 번호를 생략하면 문자열의 처음부터 끝 번호까지 뽑아낸다.

In [13]:
a[:17]

'Life is too short'

- a[시작 번호:끝 번호]에서 시작 번호와 끝 번호를 생략하면 문자열의 처음부터 끝까지를 뽑아낸다.

In [12]:
a[:]

'Life is too short, You need Python'

- 슬라이싱에서도 인덱싱과 마찬가지로 마이너스(-) 기호를 사용할 수 있다.

In [19]:
a[19:-3]

'You need Pyt'

- 위 소스 코드에서 a[19:-3]이 뜻하는 것은 a[19에서 부터] a[-3]까지를 말한다.

### 슬라이싱으로 문자열 나누기
- 다음은 자주 사용하게 되는 슬라이싱 기법 중 하나이다.

In [25]:
a = "20220702Rainy"
date = a[:8]
weather = a[8:]
print(date)
print(weather)

20220628
Rainy

- 위 예는 문자열 a를 두 부분으로 나누는 기법이다. 숫자 8을 기준으로 문자열 a를 양쪽으로 한 번씩 슬라이싱했다. a[:8]은 a[8]이 포함되지 않고, a[8:]은 a[8]을 포함하기 때문에 을 기준으로 해서 두 부분으로 나눌 수 있는 것이다. 위 예에서는 "20220702Rainy" 문자열을 날짜를 나타내는 부분인 '20220702'과 날씨를 나타내는 부분인 'Rainy'로 나누는 방법을 보여 준다.

- 위 문자열 "20220702Rainy"를 연도 20022, 월과 일을 나타내는 0702, 날씨를 나타내는 Rainy의 세 부분으로 나누려면 다음과 같이 할 수 있다.

In [30]:
a = "20220702Rainy"
year = a[:4]
day = a[4:8]
weather = a[8:]

print(year)
print(day)
print(weather)

2022
0702
Rainy

- 위 예는 숫자 4와 8로 "20220702Rainy" 문자열을 세 부분으로 나누는 방법을 보여 준다.

## 문자열 포매팅 따라하기
###1. 숫자 바로 대입

In [32]:
"I eat %d apples." % 3

'I eat 3 apples.'

- 위 예제의 결괏값을 보면 알겠지만 위 예제는 문자열 안에 정수 3을 삽입하는 방법을 보여 준다. 문자열 안에서 숫자를 넣고 싶은 자리에 %d 문자를 넣어주고, 삽일할 숫자 3은 가장 뒤에 있는 % 문자 다음에 써 넣었다. 여기에서 %d는 문자열 포맷 코드라고 부른다.

### 2. 문자열 바로 대입
- 문자열 안에 꼭 숫자만 넣으라는 법은 없다. 이번에는 숫자 대신 문자열을 넣어 보자.

In [33]:
"I eat %s apples." % "five"

'I eat five apples.'

- 위 예제에서는 문자열 안에 또 다른 문자열을 삽입하기 위해 앞으로 사용한 문자열 포맷 코드 %d가 아닌 %s를 썼다. 문자는 %d이고 숫자는 %s이다.
- 문자열을 대입할 때는 앞에서 배운 것처럼 큰따옴표나 작은따옴표를 반드시 써주어야 한다.

### 3. 숫자 값을 나타내는 변수로 대입

In [35]:
number = 3
"I eat %d apples." % number

'I eat 3 apples.'

1번처럼 숫자를 바로 대입하나 위 예제처럼 숫자 값을 나타내는 변수를 대입하나 결과는 같다.

### 4. 2개 이상의 값 넣기
- 그렇다며 문자열 안에 1개가 아닌 여러 개의 값을 넣고 싶을 땐 어떻게 해야 할까?

In [1]:
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." % (number, day)

'I ate 10 apples. so I was sick for three days.'

- 위 예문처럼 2개 이상의 값을 넣으려면 마지막 % 다음 괄호 안에 콤마(,)로 구분하여 각각의 값을 넣어 주면 된다.

## 문자열 포맷 코드
- 문자열 포매팅 예제에서는 대입해 넣은 자료형으로 정수와 문자열을 사용했으나 이 외에도 다양한 것을 대입할 수있다. 문자열 포맷 코드로는 다음과 같은 것이 있다.
-코드	설명

%s	문자열(String)

%c=문자 1개(character)

%d=정수(Integer)

%f=부동소수(floating-point)

%o=8진수

%x=16진수

%%=Literal % (문자 % 자체)

- %s 포맷 코드는 어떤 형태의 값이든 변환해 넣을 수 있다.

In [3]:
"I have %s apples" % 3

"rate is %s" % 3.234

'rate is 3.234'

- 3을 문자열 안에 삽입하려면 %d를 사용하고, 3.234를 삽입하려면 %f를 사용해야 한다. 하지만 %s를 사용하면 이런 것을 생각하지 않아도 된다. %s는 자동으로 % 뒤에 있는 값을 문자열로 바꾸기 때문이다.

### 포매팅 연산자 %d와 %를 같이 쓸 때는 %%를 쓴다.
- "Error is %d%." % 98
이 예문의 결괏값으로 당연히 "Error is 98%."가 출력될 것이라고 예상하겠지만 파이썬은 값이 올바르지 않다는 값 오류(Value Error) 메시지를 보여 준다.
- 이유는 문자열 포맷 코드인 %d와 %r가 같은 문자열 안에 존재하는 경우, %를 나타내려면 반드시 %%로 써야 하는 법칙이 있기 때문이다. 이 점을 유의하자.
- 문자열 안에 %d 같은 포매팅 연산자가 없으면 %는 홀로 쓰여도 상관이 없다.

In [4]:
"Error si %d%%." % 98

'Error si 98%.'

## 포맷 코드와 숫자 함께 사용하기
- 위에서 보았듯 %d, %s 등의 포맷 코드는 문자열 안에 어떤 값을 삽입하기 위해 사용한다. 하지만 포맷 코드를 숫자와 함께 사용하면 더 유용하게 사용할 수 있다.

### 1. 정렬과 공백

In [5]:
"%10s" %"hi"

'        hi'

- 앞의 ㅇ예문에서 %10s 는 전체 길이가 10개인 문자열 공간에서 대입되는 값을 오른쪽으로 정렬하고 그 앞의 나머지는 공백으로 남겨 두라는 의미이다.
- 그렇다면 반대쪽인 왼쪽 정렬은 %-10s 가 될 것이다.

In [6]:
"%-10shane." %'hi'

'hi        hane.'

- hi를 왼쪽으로 정렬하고 나머지는 공백으로 채웠음을 볼 수 있다.

### 2. 소수점 표현하기

In [7]:
"%0.4f" % 3.42134234

'3.4213'

- 3.42134234를 소수점 네 번째 자리까지만 나타내고 싶은 경우에는 위와 같이 사용한다. 즉 여기서'.'의 의미는 소수점 포인트를말하고 그 뒤의 숫자 4는 소수점 뒤에 나올 숫자의 개수를 말한다.

In [8]:
"%10.4f" % 3.42134234

'    3.4213'

- 위 예는 숫자 3.42134234를 소수점 네 번째 자리까지만 표시하고 전체 길이가 10개인 문자열 공간에서 오른쪽으로 정렬하는 예를 보여준다.

## format 함수를 사용한 포매팅
- 문자열의 format 함수를 사용하면 좀 더 발전된 스타일로 문자열 포맷을 지정할 수 있다. 앞에서 살펴본 문자열 포매팅 예제를 format 함수를 사용해서 바꾸면 다음과 같다.


### 숫자 바로 대입하기

In [9]:
"I eat {0} apples".format(3)

'I eat 3 apples'

- "I eat {0} apples" 문자열 중 {0} 부분이 숫자 3으로 바뀌었다.

### 문자열 바로 대입하기

In [10]:
"I eat {0} apples".format("five")

'I eat five apples'

- 문자열의 {0} 항목이 five라는 문자열로 바뀌었다.

### 숫자 값을 가진 변수로 대입하기