<a href="https://colab.research.google.com/github/park128/R_lecture/blob/main/day_0629.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
title: "Python 기초문법"
date: '2022-06-29'
---

## 라이브러리 불러오기

In [ ]:
import pandas as pd
import numpy as np
print("pandas version:",pd.__version__)
print("numpy version:",np.__version__)

pandas version: 1.3.5
numpy version: 1.21.6

## 데이터 불러오기
- 구글 드라이브에 데이터 존재

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
DATA_PATH = '/content/drive/MyDrive/Colab Notebooks/human_ai/Basic/Chapter 3. pandas/data/Lemonade2016.csv'
lemonade = pd.read_csv(DATA_PATH)

print(type(lemonade))
lemonade.info()

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         31 non-null     object
 1   Location     32 non-null     object
 2   Lemon        32 non-null     int64
 3   Orange       32 non-null     int64
 4   Temperature  32 non-null     int64
 5   Leaflets     31 non-null     float64
 6   Price        32 non-null     float64
dtypes: float64(2), int64(3), object(2)
memory usage: 1.9+ KB

- 데이터 맛보기

In [ ]:
print(lemonade.head()) # 맨 위부터 보여줌

       Date Location  Lemon  Orange  Temperature  Leaflets  Price
0  7/1/2016     Park     97      67           70      90.0   0.25
1  7/2/2016     Park     98      67           72      90.0   0.25
2  7/3/2016     Park    110      77           71     104.0   0.25
3  7/4/2016    Beach    134      99           76      98.0   0.25
4  7/5/2016    Beach    159     118           78     135.0   0.25

In [ ]:
print(lemonade.tail(10)) # 맨 아래부터 보여줌

         Date Location  Lemon  Orange  Temperature  Leaflets  Price
22  7/22/2016     Park    112      75           80     108.0   0.50
23  7/23/2016     Park    120      82           81     117.0   0.50
24  7/24/2016     Park    121      82           82     117.0   0.50
25  7/25/2016     Park    156     113           84     135.0   0.50
26  7/26/2016     Park    176     129           83     158.0   0.35
27  7/27/2016     Park    104      68           80      99.0   0.35
28  7/28/2016     Park     96      63           82      90.0   0.35
29  7/29/2016     Park    100      66           81      95.0   0.35
30  7/30/2016    Beach     88      57           82      81.0   0.35
31  7/31/2016    Beach     76      47           82      68.0   0.35

- 기술통계량 보는 함수
- descrbe()

In [ ]:
print(lemonade.describe())

            Lemon      Orange  Temperature    Leaflets      Price
count   32.000000   32.000000    32.000000   31.000000  32.000000
mean   116.156250   80.000000    78.968750  108.548387   0.354688
std     25.823357   21.863211     4.067847   20.117718   0.113137
min     71.000000   42.000000    70.000000   68.000000   0.250000
25%     98.000000   66.750000    77.000000   90.000000   0.250000
50%    113.500000   76.500000    80.500000  108.000000   0.350000
75%    131.750000   95.000000    82.000000  124.000000   0.500000
max    176.000000  129.000000    84.000000  158.000000   0.500000

- 범주형 데이터 빈도수 구하

In [ ]:
print(type(lemonade['Location']))

<class 'pandas.core.series.Series'>

In [ ]:
lemonade['Location'].value_counts()

Beach    17
Park     15
Name: Location, dtype: int64

## 행과 열 다루기
- Sold(판매량) 컬럼(=피처=feature)을 추가

In [ ]:
lemonade['Sold'] = 0
print(lemonade.head())

       Date Location  Lemon  Orange  Temperature  Leaflets  Price  Sold  \
0  7/1/2016     Park     97      67           70      90.0   0.25     0
1  7/2/2016     Park     98      67           72      90.0   0.25     0
2  7/3/2016     Park    110      77           71     104.0   0.25     0
3  7/4/2016    Beach    134      99           76      98.0   0.25     0
4  7/5/2016    Beach    159     118           78     135.0   0.25     0

   Revenue
0    41.00
1    41.25
2    46.75
3    58.25
4    69.25

In [ ]:
lemonade['Sold'] = lemonade['Lemon'] + lemonade['Orange']
print(lemonade.head())

       Date Location  Lemon  Orange  Temperature  Leaflets  Price  Sold  \
0  7/1/2016     Park     97      67           70      90.0   0.25   164
1  7/2/2016     Park     98      67           72      90.0   0.25   165
2  7/3/2016     Park    110      77           71     104.0   0.25   187
3  7/4/2016    Beach    134      99           76      98.0   0.25   233
4  7/5/2016    Beach    159     118           78     135.0   0.25   277

   Revenue
0    41.00
1    41.25
2    46.75
3    58.25
4    69.25

- Revenue(매출) = 단가 x 판매량

In [ ]:
lemonade['Revenue'] = lemonade['Price'] * lemonade['Sold']
print(lemonade.head())

       Date Location  Lemon  Orange  Temperature  Leaflets  Price  Sold  \
0  7/1/2016     Park     97      67           70      90.0   0.25   164
1  7/2/2016     Park     98      67           72      90.0   0.25   165
2  7/3/2016     Park    110      77           71     104.0   0.25   187
3  7/4/2016    Beach    134      99           76      98.0   0.25   233
4  7/5/2016    Beach    159     118           78     135.0   0.25   277

   Revenue
0    41.00
1    41.25
2    46.75
3    58.25
4    69.25

- drop() 함수 사용해서 열 제거

In [ ]:
# 컬럼 제거
col_drop = lemonade.drop('Sold', axis=1)
print(col_drop.head())

       Date Location  Lemon  Orange  Temperature  Leaflets  Price  Revenue
0  7/1/2016     Park     97      67           70      90.0   0.25    41.00
1  7/2/2016     Park     98      67           72      90.0   0.25    41.25
2  7/3/2016     Park    110      77           71     104.0   0.25    46.75
3  7/4/2016    Beach    134      99           76      98.0   0.25    58.25
4  7/5/2016    Beach    159     118           78     135.0   0.25    69.25

In [ ]:
# 행 제거
row_drop = lemonade.drop(2, axis =0)
print(row_drop.head())

       Date Location  Lemon  Orange  Temperature  Leaflets  Price  Sold  \
0  7/1/2016     Park     97      67           70      90.0   0.25   164
1  7/2/2016     Park     98      67           72      90.0   0.25   165
3  7/4/2016    Beach    134      99           76      98.0   0.25   233
4  7/5/2016    Beach    159     118           78     135.0   0.25   277
5  7/6/2016    Beach    103      69           82      90.0   0.25   172

   Revenue
0    41.00
1    41.25
3    58.25
4    69.25
5    43.00

## 데이터 인덱싱

In [ ]:
print(lemonade[4:7])

       Date Location  Lemon  Orange  Temperature  Leaflets  Price  Sold  \
4  7/5/2016    Beach    159     118           78     135.0   0.25   277
5  7/6/2016    Beach    103      69           82      90.0   0.25   172
6  7/6/2016    Beach    103      69           82      90.0   0.25   172

   Revenue
4    69.25
5    43.00
6    43.00

- 특정 값만 추출
- filter로 Beach만 출력하

In [ ]:
# 데이터[데이터 컬럼 == 특정값]
lemonade[lemonade['Location'] == 'Beach']

In [ ]:
[lemonade['Location'] == 'Beach']

In [ ]:
[lemonade['Temperature'] >= 80]

In [ ]:
lemonade[(lemonade['Temperature'] >= 80) & (lemonade['Orange'] >= 100) & (lemonade['Location'] == "Beach")]

,Date,Location,Lemon,Orange,Temperature,Leaflets,Price,Sold,Revenue
7,7/7/2016,Beach,143,101,81,135.0,0.25,244,61.0
11,7/11/2016,Beach,162,120,83,135.0,0.25,282,70.5

In [ ]:
lemonade.loc[lemonade['Temperature'] >= 80, ['Date' , 'Sold' ,'Location']]

In [ ]:
lemonade[(lemonade['Sold'] >= 100) & (lemonade['Date'] >="7/7/2016") & (lemonade['Location'] == "Beach")]

,Date,Location,Lemon,Orange,Temperature,Leaflets,Price,Sold,Revenue
7,7/7/2016,Beach,143,101,81,135.0,0.25,244,61.00
9,7/9/2016,Beach,134,95,80,126.0,0.25,229,57.25

## iloc vs loc
- 문법상의 차이 확인

In [ ]:
lemonade.head()

,Date,Location,Lemon,Orange,Temperature,Leaflets,Price,Sold,Revenue
0,7/1/2016,Park,97,67,70,90.0,0.25,164,41.00
1,7/2/2016,Park,98,67,72,90.0,0.25,165,41.25
2,7/3/2016,Park,110,77,71,104.0,0.25,187,46.75
3,7/4/2016,Beach,134,99,76,98.0,0.25,233,58.25
4,7/5/2016,Beach,159,118,78,135.0,0.25,277,69.25

- iloc
---->  숫자만 들어

In [ ]:
print(lemonade.iloc[0:3, 0:2])

       Date Location
0  7/1/2016     Park
1  7/2/2016     Park
2  7/3/2016     Park

- loc : 숫자 (x)
 + 라벨 = 글자(숫자, 문자 동시포함)

In [ ]:
print(lemonade.loc[0:2, ['Date', 'Location']])

       Date Location
0  7/1/2016     Park
1  7/2/2016     Park
2  7/3/2016     Park

## 데이터 덩령
- sort_values()

In [ ]:
#lemonade.head()
print(lemonade.sort_values(by=['Revenue']).head(10))

         Date Location  Lemon  Orange  Temperature  Leaflets  Price  Sold  \
0    7/1/2016     Park     97      67           70      90.0   0.25   164
1    7/2/2016     Park     98      67           72      90.0   0.25   165
6    7/6/2016    Beach    103      69           82      90.0   0.25   172
5    7/6/2016    Beach    103      69           82      90.0   0.25   172
31  7/31/2016    Beach     76      47           82      68.0   0.35   123
13  7/13/2016    Beach    109      75           77      99.0   0.25   184
2    7/3/2016     Park    110      77           71     104.0   0.25   187
30  7/30/2016    Beach     88      57           82      81.0   0.35   145
14  7/14/2016    Beach    122      85           78     113.0   0.25   207
8         NaN    Beach    123      86           82     113.0   0.25   209

    Revenue
0     41.00
1     41.25
6     43.00
5     43.00
31    43.05
13    46.00
2     46.75
30    50.75
14    51.75
8     52.25

In [ ]:
print(lemonade[['Date', 'Temperature', 'Revenue']].sort_values(by=['Revenue']).head(5))

         Date  Temperature  Revenue
0    7/1/2016           70    41.00
1    7/2/2016           72    41.25
6    7/6/2016           82    43.00
5    7/6/2016           82    43.00
31  7/31/2016           82    43.05

In [ ]:
print(lemonade[['Date', 'Temperature', 'Revenue']].sort_values(by=['Temperature','Revenue']).head(5))

         Date  Temperature  Revenue
0    7/1/2016           70    41.00
20  7/20/2016           70    56.50
2    7/3/2016           71    46.75
1    7/2/2016           72    41.25
16  7/16/2016           74    65.50

In [ ]:
print(lemonade[['Date', 'Temperature', 'Revenue']].sort_values(by=['Temperature', 'Revenue'], ascending = [True, False]).head(5))

         Date  Temperature  Revenue
20  7/20/2016           70    56.50
0    7/1/2016           70    41.00
2    7/3/2016           71    46.75
1    7/2/2016           72    41.25
16  7/16/2016           74    65.50

## Group by

In [ ]:
print(lemonade.head())

       Date Location  Lemon  Orange  Temperature  Leaflets  Price  Sold  \
0  7/1/2016     Park     97      67           70      90.0   0.25   164
1  7/2/2016     Park     98      67           72      90.0   0.25   165
2  7/3/2016     Park    110      77           71     104.0   0.25   187
3  7/4/2016    Beach    134      99           76      98.0   0.25   233
4  7/5/2016    Beach    159     118           78     135.0   0.25   277

   Revenue
0    41.00
1    41.25
2    46.75
3    58.25
4    69.25

In [ ]:
df = lemonade.groupby(by='Location').count()
print(df)
print(type(df))

df[['Date', 'Lemon']]
print(df.iloc[0:1, 0:2])
print(df.loc['Park', ['Date', 'Lemon']])

- 간단한 피벗 테이블 만들기

In [ ]:
lemonade.groupby('Location')['Revenue'].agg([max, min, sum, np.mean])

            max   min     sum       mean
Location
Beach      95.5  43.0  1002.8  58.988235
Park      134.5  41.0  1178.2  78.546667

In [ ]:
lemonade.groupby('Location')[['Revenue', 'Sold', 'Temperature']].agg([max, min, sum, np.mean])

         Revenue                          Sold                         \
             max   min     sum       mean  max  min   sum        mean
Location
Beach       95.5  43.0  1002.8  58.988235  282  123  3422  201.294118
Park       134.5  41.0  1178.2  78.546667  305  113  2855  190.333333

         Temperature
                 max min   sum       mean
Location
Beach             84  74  1355  79.705882
Park              84  70  1172  78.133333